{%extends 'base.html'%}
{%load static%}
{% block content %}

{%if projects%}
{%for project in projects%}
 
<div  class="row">
  <div class="col-md-4">
    <div class="m-6">
      <div class="card " style="width: 20rem; height: 22rem;">
        <div class="card-image ">
          <a href="">
            <img class="card-img-top" src="{{project.image.url}}" alt="Card image cap">
          </a>
          <div class="image-overlay">
            <a href="{{project.link_url}}" style="text-decoration: none;" class="card-icon-link"><i
                class="bi bi-arrow-right-circle text-white card-icon"></i></a>
          </div>
        </div>
        <div class="card-body " style="padding-bottom: 10px;">
          <h5 class="card-title "><a href=""
              class="home-card-title">{{project.title}}</a></h5>
              <div class="card-footer " style="padding-bottom: 10px;">
                  <h5>{{project.description}}</h5></div
          <hr>
          <img src="{{project.profile.image_url}}" alt="user" style="width: 27px; height: 27px;" class="rounded-circle imag">
          By<a href="{% url 'profile' project.profile.name}" class="ml-2 home-username">{{project.profile.name}}</a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- 
 {{project.title}}
 <img src="{{project.image.url}} " style="width:20rem ; height:24rem;" alt=""> 
 {{project.description}}
  <a href="{{project.link_url}}"> link </a> -->

{% endfor%}
{%endif%}
{% endblock %}