{%extends 'base.html'%}
{%load bootstrap4%}
{%load static%}
{% block content %}
{{ block.super}}


{% if user.is_authenticated %}
<section>
      <h3> subscribe to our news letter </h3>
  <div class="container" style="background-color:rgb(103, 222, 238)" aria-setsize="50">
    <form  action="{%url 'Welcome'%}" method="post">
      {%csrf_token%}
      {% bootstrap_form letterForm layout='inline' %}
      <input type="submit" value="Subscribe">
    </form>
    </div>
  </div>

</section>

{% else %}
<section>
  <form  action="/accounts/register/" method="post">
    {% csrf_token %}
    {% bootstrap_form form %}
    <div class="form-group">
      <input type="submit" class="btn btn-primary btn-sm" value="Sign Up">
    </div>

    <input type="hidden" name="next" value="{{next}}">

  </form>
</section>
{% endif %}

{% endblock %}





